.list-item-container {
  height: 60px;
  border: 1px solid lightgray;
  border-radius: 1rem;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background: lightgray;
}
