.location-item {
  height: 60px;
  border: 1px solid salmon;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.location-item > div {
  display: flex;
  flex-direction: column;
}
