.locations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.locations .header {
  margin: 0;
}

.locations ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
